$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, 0.8);

body{
    background: #fff;
    color: #333;
    margin-top: 90px;
}
.navbar{
    opacity: 0.8;
    box-shadow: 2px 2px 5px $primary;
}
#showcase{
    min-height: 450px;
    position: relative;
    background: $primary-overlay;

&::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/mountains.jpg') no-repeat center center/ cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}
}
.info-header{
    border-bottom: 2px #ddd solid;
    width: 50%;
    margin: auto;
}
#authors{
    img{
        margin-top: -50px;
    }
    .card:hover{
        background: $primary;
        color: #fff;
    }
    .fab{
        color: #fff;
    }
}
#footer{
    height: 100px;
}
@media (max-width:768px) {
    #showcase{
        height: 500px;

        h1{
            font-size: 4rem;
        }
    }
    .mb-resp{
        margin-bottom: 1rem;
    }
}
